name: Spring Boot Docker CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout code from GitHub
    - name: Checkout code
      uses: actions/checkout@v4

    # Step 2: Set up Java 17
    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    # Step 3: Give execute permission to mvnw (IMPORTANT)
    - name: Make mvnw executable
      run: chmod +x mvnw

    # Step 4: Build Spring Boot project
    - name: Build with Maven Wrapper
      run: ./mvnw clean package

    # Step 5: Login to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Step 6: Build Docker image
    - name: Build Docker image
      run: docker build -t rinku316/springinjection .

    # Step 7: Push Docker image to Docker Hub
    - name: Push Docker image
      run: docker push rinku316/springinjection
